# Author longqi mail:1218715400@qq.com

#
# This file is config default remote IR
# @Author Longqi mail:1218715400@qq.com

# @detail board chip select
# @parm BOARD_ID = RTD293x_QFP128_DEMO
# @parm BOARD_ID = RTD293x_QFP128_HIKEEN_V1
# @parm BOARD_ID = RTD293x_QFP216_DEMO
# @parm BOARD_ID = RTD293x_QFP216_HIKEEN_V1
BOARD_ID = RTD293x_QFP128_HIKEEN_V1

# @detail board tuner select
# @parm BOARD_TUNER = TUNER_NXP_TDA18275A
# @parm BOARD_TUNER = TUNER_MAXLINEAR_MXL661
# @parm BOARD_TUNER = TUNER_RAFAEL_R840
# @parm BOARD_TUNER = TUNER_RAFAEL_R842
# @parm	BOARD_TUNER = TUNER_SILICONLABS_SI2151
BOARD_TUNER = TUNER_SILICONLABS_SI2151